@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100vw;
  height: 100vh;
  background-image: url("/images/bg1.jpg");
  background-attachment: local;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}
.mybg{
  background-color: #cfc5bf;
}
.btn-warning{
  background-color: #b7ad9d !important;
}
.form-control:focus {
  border-color: red;
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
}
